.ino {
	border-top : 1px solid;
	float :left;
	padding: 15px;
	margin-left: 5px;
	border-top-width: 5px;
	background-color: pink;	
	border-radius: 10px;
	height: 450px;
	width: 32%;
}
.ino span {
	color: green;
}
.file1 ,.file2 ,.file3 {
	border-color: green;
}body {
	background-color: #E5E5E5;
	margin: 0%
	padding: 0%;
}
.inx {
	border-top : 1px solid;
	float :left;
	padding: 15px;
	margin-left: 5px;
	border-top-width: 5px;
	background-color: pink;	
	border-radius: 10px;
	height: 450px;
	margin-top: 15px;
    width: 32%;
}
.inx span {
	color: green;

}
.file4 ,.file5 ,.file6 {
	border-color: green;
}
.inot {
	border-top : 1px solid;
	float :left;
	padding: 15px;
	margin-left: 5px;
	border-top-width: 5px;
	background-color: pink;	
	border-radius: 10px;
	height: 450px;
	width: 32%;
	margin-top: 15px;
}
.inot span {
	color: green;
}
.file7 ,.file8 ,.file9 {
	border-color: green;

}



