* {
	box-sizing: border-box;
}
body {
	background-color: #dddddd;
	margin: 0;
	padding: 0;
}
.banner img {
	width: 100%;
}
h1 {
	margin: 30px 0 10px 0;
	font-size: 40px;
	color: red;
}
#in-from {
	position: relative;
	color: blue;
	font-size: 20px;
	text-decoration: none;
	background-color: pink;
}
#in-from a:hover ,#in-from a.inden {
	color: black;
}
#in-from a.inden {
	font-weight: bold;
}
 .anh {
 	max-width: 1000px;
 	margin: auto;
 	text-align: center
 }
 #in-from a {
      margin: 15px;
 }
 #in-from > a:first-child {
 	        position: absolute;
 			padding: 4px;
 			background-color: red;
 			border-radius: 50%;	
 			top: -144px;
            left: 71px;	
      }

 #in-from > a:first-child > img {
 			max-width: 160px;
 			border-radius: 50%;
 }

#chat {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
#chat img {
	width: 40px;
	height: 40px;
	margin: 50px;
}








