body { 
	padding: 0;
	margin: 0;
	
 }

 * {
 	box-sizing: border-box;
 }
@keyframes titl {
	0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}


img{
	max-width: 100%;
}

h1 {
	font-size: 70px;
	background-color: #c113a7;
	border: solid pink;
	border-radius: 20px;
	animation: titl 10s ease infinite;
}
.anh {
	max-width: 1000px;
	margin:auto;
	text-align: center;


}
#in {
	border: solid;
 
}
.thumb1 {
	float: left;
	border-top : 1px solid;
	border-top-width: 5px;
	width: 32.333%;
	margin: 5px;	
	background-color: white;
	height: 200px;	
}
.thumb2 {
	float: left;
	border-top : 1px solid;
	border-top-width: 5px;
	width: 32.333%;
	margin: 5px;	
	background-color: white;
	height: 200px;	
}
@keyframes title {
	0% {
		width: 30px ;
	    opacity: 0 ;
	}
	50% {
		width: 30px;
		opacity: 1 ;
	}
	100% {
		width: 30px;
		opacity: 0 ;
	}
}
h2 {
	animation: title 1s ease infinite; 
	

}
@media only screen and (max-width: 500px){
	.thumb2,.thumb1{
		width: 100%;
	}
	
}









