.news{
	margin-top: 50px;
}
.thongtin{
	background-color: #d8d2d2
}
.shop{
	background-color: #e7f2ee;
}
.registration
{
	border: 1px solid;

}
.shop{
	margin-bottom: 30px;
	height: 133px;
}

.list-posts{
	font-size: 25px;
}
.list-list{
	display: block;
	color: black;
	margin-bottom: -16px;
}
.special-special{
color:#56cfe1;
}
.next-page{
	display: inline;
}
.post-time{
	font-size: 13px;
	margin-top: 25px;
}
.main-news2{
	color: black;
	font-size: 20px;
    height: 58px;
    overflow: hidden;
}
 a:hover{
	text-decoration: none;
}

.font-login{
  border: 1px solid;
  margin-bottom: 30px;
}
.add-cart{
  margin-bottom: 30px;
}
.glyphicon-menu-right{
	font-size: 13px;
	 float: right; 
	 margin-top: 15px;
}
