#maytinh{
	width: 500px;
	margin: auto;
}
body{
   background-image: url("anh.jpg");
   background-color: pink;
   
   background-repeat: no-repeat;
    background-position: center;
}
.box{
  background: #1c1213;
  overflow: hidden;
  padding: 10px;
  border-radius: 30px;
}

input {
	width: 139px;
    height: 55px;
    float:left;
    margin: 10px;s
   
  }
#div {
  	width: 451px;
  	border: 5px solid pink;
  	border-radius: 10px;
    font-size: 30px;

  	
  }
 .button {
  padding: 15px 25px;
  font-size: 24px;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 
