*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
	margin: 0;
	padding: 0;
  overflow-x:hidden;
  position: relative;
}
/*css cho text*/
.distance-text{
    word-spacing: 4px;
}
a:hover{
  text-decoration:none;
}
img:hover{
  cursor: pointer;
}
/* bắt đầu css cho menu */
.navbar {
  margin-bottom: 0px;
  padding: 10px;

}
.nav>li>a>img {
  width: 30px;
  margin-top: -8px;
}
.navbar-default {
  background-color: white;
}
span img {
  vertical-align: middle;
  width: 150px;
  margin-left: 4%;
}
.rowinput{
  margin-top: -48px;
  margin-right: 513px;
}
.banner{
  margin-top: 85px;
}
.navbar-right{
 margin-top: 7px;
    font-size: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 19px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
} 
/* hết css cho menu  */


/* css cho back_to_top */
#back-to-top {
  position: fixed;
  bottom: 70px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #c9afaf;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #e9ebec;
}
#back-to-top.show {
  opacity: 1;
}

/* hst css ho back-to-top */

/*  css cho footer */
.footer1 {
  background: black  url("../images/footer/footer-bg.png") repeat scroll left top;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}
.title-widget {
	color: white;
	font-size: 19px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 11px;
}
.title-widget::before {
  background-color:white;
  content: "";
  height: 22px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 5px;
}
.widget_nav_menu ul {
  list-style: outside none none;
  padding-left: 0;
}
.widget_archive ul li {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 3px;
}
.widget_nav_menu ul li {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 7px;
  padding-bottom: 7px;
  width:95%;
}
.title-median {
  color: #636363;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
 
}

#social:hover {
 -webkit-transform:scale(1.1); 
 -moz-transform:scale(1.1); 
 -o-transform:scale(1.1); 
 transform: scale(1.15) rotate(360deg);
}
#social {
  -webkit-transform:scale(0.8);

  -moz-transform:scale(0.8);
  -o-transform:scale(0.8); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}           

.social-fb:hover {
  color:  white;
}
.social-tw:hover {
  color: white;
}
.social-gp:hover {
  color: white;
}
.social-em:hover {
  color: white;
}
.nomargin {  padding:0px;}
.footer-bottom {
  background-color: black;
  min-height: 30px;
  width: 100%;
}
.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: center;
}
.fotter-sua{
  color: #ababab;
}

.fotter-repair{
  color: black;
  font-size: 20px;
}

/* hết css cho foter */

/* image của các sản phẩm */
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 800px;
}
.banner-images{
  width: 100% !important;
}
/* hết css cho image các sản phẩn */


/*css cho top nổi bật hôm nay */

.tab {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin: 0 auto;
 
  line-height: 1.5;
  font-weight: 300;
  
  -webkit-font-smoothing: antialiased;
}
.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  left: 47%;
  margin-left: -167px;
}
.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs a {
  background-color: #eff0f2;
  border-bottom: 1px solid #fff;
  color: black;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid black;
}
.tabs_item {
  display: none;
  padding: 30px 0;
}
.tabs_item h4 {
  font-weight: bold;
  color: #010d13;
  font-size: 20px;
}
.tabs_item img {

  float: left;
  margin-right: 30px;
}
.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
  background:#181e1c;;
}
.tab-product{
  font-size: 22px;
}
/*hét css cho top nổi bẩt*/

/*css cho danh mục*/
.category-index{
  margin-top: 50px;
  background-color:#f8f8f8;
}
.position-category{
  position: relative;
  transition: all .2s linear;
}
.position-category:hover{
  transform: scale(1.1);
}
.categories-caption {
  width: 80px;
  background-color: black;
  height: 28px;
  text-align: center;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -40px;
}
.male-female-category{
  color: white;
}

/*hết css cho danh mục*/


/*css cho thương hiệu nổi bật*/
.trademark{
  margin-bottom: 50px;
}
.brand{
  margin-bottom: 30px;
  color: black;
}
.col-xs-6{
  margin-bottom: 15px;
}
/*hết css cho thương hiệu nổi bật*/


/*hót và bán chạy*/
.selling{
  margin-top: 50px;
}

.img-box {
 position: relative;
 height: 297.5px;
 overflow: hidden;
}
.hover001{
  position: absolute;
}
.hover002{
  position: absolute;
  opacity: 0; 
  transition: all 0.5s ease;
}
.hover002:hover{
  opacity: 1;
  transition: all 0.5s ease;

}
/*hót và bán chay*/

/*css cho theo dõi nhận 10% giá*/
.follow{
  background-color: black;
  color: white;
}
.icon-follow{
  margin-top: 20px;
}
.follow-us{
  margin-top: 50px;
}
/*hết css cho thao doi nhận 10%*/


/*css cho điện thoại*/
@media screen and (max-width:650px)
{
#callnowbutton 
{ display:block; 
  height:80px;
 position:fixed;
  width:100%; 
  left:0;
bottom:-20px;
background:url(http://callnowbutton.com/phone/callbutton01.png) center 10px no-repeat #12A5F4;
text-decoration:none; box-shadow:0 0 5px #888;
-webkit-box-shadow:0 0 5px #888;
 -moz-box-shadow:0 0 5px #888;
 z-index:9999;
}
}
/*hết css cho điện thoại*/

/*css cho nút thêm vào giỏ hàng*/
.btn.active {                
  display: none;    
}

.btn span:nth-of-type(1)  {             
  display: none;
}
.btn span:last-child  {             
  display: block;   
}

.btn.active  span:nth-of-type(1)  {             
  display: block;   
}
.btn.active span:last-child  {              
  display: none;      
}
.btn-success {
  color: #fff;
  background-color: black;
  border-color: black;
}
.btn-success:hover{
  background-color: black;
}
.btn-danger {
  color: #fff;
  background-color: black;
  border-color: black;
  width:100%;
}
.btn-block {
  display: block;
  width: 100%;
  height: 57px;
}
.btn-block+.btn-block {
  margin-bottom: 10px;
}
.hover-image-men-fashion-css:hover{
  -webkit-box-shadow: 0px 7px 13px 1px rgba(235,218,235,1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(235,218,235,1);
  box-shadow: 0px 7px 13px 1px rgba(235,218,235,1);
}

  footer{
    color: white;
  }
  #contact{
    position: fixed; top: 890px;
  }
  .money-products{
    color: red;
  }
/*hết css cho mút thêm vào giở hàng



/*cái copy sang của trang index2 */


/*css cho cái icon đầu trang */
.conten{
  border: 1px dotted;
  color:#C9CBA3;
  background-color: black;
  margin-top: 20px;
  padding: 16px;
}
.icon{
  position: relative;
}
.textp{
  position: absolute;
  top: 5px;
  left: 43px;
}
.phone-icon{
  color: red;
  text-decoration: none;
}
.phone-icon:active{
  color: red;
  
}
.phone-icon:hover{
  text-decoration: none;
  color: pink;
}

/*hết css cho icon đầu  trang */

/*css cho các anh duoi icon*/
.img01,.img03 {
  margin-bottom: 30px;
}
.img02{
  margin-bottom: 30px;
}
.image-product-introduction{
  overflow: hidden;
}
.product-introduction{
  margin-top: 30px;
}
.img01{
  overflow: hidden;
}
.img01{
  border-top-left-radius: 15px; border-top-right-radius: 120px 30px; border-bottom-left-radius: 120px 30px; border-bottom-right-radius: 15px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
.img01:hover{
  border-top-left-radius: 30px 120px; border-bottom-right-radius: 30px 120px; border-bottom-left-radius: 15px; border-top-right-radius: 15px;
}
.img01{
  position: relative;
  width: 100%;
  height: 50%;
}
.img01::before{
  content: '';
  width: 90%;
  position: absolute;
  height: 86%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  top: 7%;
  left: 5%;
  transform: scaleX(0);
  transition: 0.5s;
}
.img01::after{
  content: '';
  width: 90%;
  position: absolute;
  height: 86%;
  border-left : 1px solid black;
  border-right: 1px solid black;
  top: 7%;
  left: 5%;
  transform: scaleY(0);
  transition: 0.5s;
}
.img01:hover::before{
  border-top: 1px solid black;
  border-bottom:1px solid black;
  transform: scaleX(1.1);

}
.img01:hover::after{
  border-left: 1px solid black;
  border-right:1px solid black;
  transform: scaleY(1.1);
}
.img02{
  position: relative;
  width: 100%;
  height: 100%;
}
.img02::before{
  content: '';
  width: 90%;
  position: absolute;
  height: 90%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  top: 5%;
  left: 5%;
  transform: scaleX(0);
  transition: 0.5s;
}
.img02::after{
  content: '';
  width: 90%;
  position: absolute;
  height: 90%;
  border-left : 1px solid black;
  border-right: 1px solid black;
  top: 5%;
  left: 5%;
  transform: scaleY(0);
  transition: 0.5s;
}
.img02:hover::before{
  border-top: 1px solid black;
  border-bottom:1px solid black;
  transform: scaleX(1.1);

}
.img02:hover::after{
  border-left: 1px solid black;
  border-right:1px solid black;
  transform: scaleY(1.1);
} 
  /*hết css cho các anh

  /*hết csss cho copy index2*/


  /*css cho @media*/
  @media screen and (min-width: 768px){

    .col-lg-6 {
      width: 78%;
    }
    .content-header{

      top: 0;
      left: 30px;
    }
    .text{
      width:20%;
      margin-left: 50px;
    }
    .text h2{
      margin-top: 0;
    }
  }
  @media screen and (max-width: 768px ){
   .dienthoai{
    display: none;
  } 
  .text{
    margin-left: 40px;
  }
  .margin-category{
    margin-bottom: 30px;
  }
  
  .text h2{
   margin-top: 0;
 }
 .content-header{
  position: absolute;
  top: 0;
  left: 66px;
}

}
@media screen and (max-width: 991px ){
  .text01 {
    margin-top: 30px;
    width: 100%;
  }
}

/*hết css cho @media*/



/*css cho male và famale*/
/*css cho slide*/
#myCarousel .nav a {
  border-radius:0px;
}
.slide01{
  margin-top: 20px;
}
.text01{
  margin-top: 30px;
}
.text02{
 font-size: 20px;

}
/*hết css cho slide*/

/*phần danh mục lọc sản phẩm*/
.filter-products{
  background-color: black;
  margin-top: 30px;
}
.trademark{
  color: white;

}
.fotter-sua:hover{
  color: #ababab;
}
.color{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  padding: 15px;
  text-align: center;
}
.btn-success {
  color: #fff;
  background-color: black;
  border:1px solid white ;
}
.btn-success:hover{
  background-color: #612b2b;

}
.products1{
  background-color: red;
}
.products2{
  background-color: orange;
}
.products3{
  background-color: green;
}
.products4{
  background-color: #33441f;
}
.products5{
  background-color: #131bda;
}
.salient-features{
  color: white;

}
.category-a,.category-a1{
  display: block;
  margin-bottom: 7px;
}
.category-a:hover,.category-a1:hover{
  color: red;
  }
.special-special{
  color:#56cfe1;
}
.category-a1{
  margin-left: 10px;
}
/* hết phần danh mục lọc sản phẩn*/


.font-login{
  border: 1px solid;
  margin-bottom: 30px;
}
.add-cart{
  margin-bottom: 30px;
}
.hover-image-men-fashion-css{
  margin-bottom: 30px;
}
.hover-image-men-fashion-css:hover{
  -webkit-box-shadow: 0px 7px 13px 1px rgba(235,218,235,1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(235,218,235,1);
  box-shadow: 0px 7px 13px 1px rgba(235,218,235,1);
}

/*hết css cho male*/

/* css cho cart*/
.glyphicon {
  position: relative;
  top: -10px;
  display: inline-block;
 
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}
.badge-notify{
  background:red;
  position:relative;
  top: -20px;
  right: 10px;
  /*hết css cho cart*/

