  
/*css cho cái icon đầu trang tham khảo*/
.conten{
	border: 1px dotted;
	color:#C9CBA3;
	background-color: black;
	margin-top: 20px;
	padding: 16px;
}
.icon{
	position: relative;
}
.textp{
	position: absolute;
	top: 5px;
	left: 43px;
}
.phone-icon{
	color: red;
	text-decoration: none;
}
.phone-icon:active{
	color: red;
	
}
.phone-icon:hover{
text-decoration: none;
color: red;
}

/*hết css cho icon đầu  trang tham khảo*/

/*css cho các anhr duoi icon*/
.img01,.img03	{
    margin-bottom: 30px;
  }
.img02{
  	margin-bottom: 30px;
}
.image-product-introduction{
	overflow: hidden;
}
 .product-introduction{
  	margin-top: 30px;
 }
.img01{
	overflow: hidden;
}
.img01{
	border-top-left-radius: 15px; border-top-right-radius: 120px 30px; border-bottom-left-radius: 120px 30px; border-bottom-right-radius: 15px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
.img01:hover{
border-top-left-radius: 30px 120px; border-bottom-right-radius: 30px 120px; border-bottom-left-radius: 15px; border-top-right-radius: 15px;
}
 .img01{
 	position: relative;
 	width: 100%;
 	height: 50%;
 }
 .img01::before{
 	content: '';
 	width: 90%;
 	position: absolute;
 	height: 86%;
 	border-top: 1px solid black;
 	border-bottom: 1px solid black;
 	top: 7%;
 	left: 5%;
 	transform: scaleX(0);
 	transition: 0.5s;
 }
 .img01::after{
 	content: '';
 	width: 90%;
 	position: absolute;
 	height: 86%;
 	border-left : 1px solid black;
 	border-right: 1px solid black;
 	top: 7%;
 	left: 5%;
 	transform: scaleY(0);
 	transition: 0.5s;
 }
 .img01:hover::before{
 	border-top: 1px solid black;
 	border-bottom:1px solid black;
 	transform: scaleX(1.1);

 }
 .img01:hover::after{
 	border-left: 1px solid black;
 	border-right:1px solid black;
 	transform: scaleY(1.1);
 }

 

 .img02{
 	position: relative;
 	width: 100%;
 	height: 100%;
 }
 .img02::before{
 	content: '';
 	width: 90%;
 	position: absolute;
 	height: 90%;
 	border-top: 1px solid black;
 	border-bottom: 1px solid black;
 	top: 5%;
    left: 5%;
 	transform: scaleX(0);
 	transition: 0.5s;
 }
 .img02::after{
 	content: '';
 	width: 90%;
 	position: absolute;
 	height: 90%;
 	border-left : 1px solid black;
 	border-right: 1px solid black;
 	top: 5%;
    left: 5%;
 	transform: scaleY(0);
 	transition: 0.5s;
 }
 .img02:hover::before{
 	border-top: 1px solid black;
 	border-bottom:1px solid black;
 	transform: scaleX(1.1);

 }
 .img02:hover::after{
 	border-left: 1px solid black;
 	border-right:1px solid black;
 	transform: scaleY(1.1);
 } 
  /*hết css cho các anh


