
.col-md-3 .h1{
    border: 1px solid ;
}
.click-h1 .btn{
    display: block;
}
#img1,#img2,#img3{
    display: block;
    max-width: 100%;
    height: auto;
    width: 800px;
}
.anh1{
    transition: all 1s;   
    border-radius: 50%;
}
.anh1:hover{
   transform: scale(1.1);
   box-shadow: 0px 5px 5px 0px red;    
}
.box{
    margin-top: 30px;
    margin-left: 70px;
}
.h1{
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    font-family: arial;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    width: 100%;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;

}


