*{
	margin:0;
	padding: 0;
}
body{
	background-color: pink;
}
.demo{
	background-color: rgb(0,175,239);
	width: 1367px;
	height: 768px;
	/*clip-path: polygon(0 0, 100% 0, 100% 50%, 0 70%);*/

	margin: auto;
}

.noidung{
	width: 1171px;
	height: 768px;
	margin:auto;
	position: relative;
}
.img1{
    position: absolute;
    top: 45px;
    left: 0px;
}
h1{
	color: white;
}
.tuyen_dung {
	margin-top: 80px;
}
.luong{
	margin-top: 76px;
	position: relative;
}
.nhap{
	position: absolute;
	    top: 290px;
    left: 125px;
    width:400px;

}
.cv{
	margin-top: 70px;
}

input{
	margin-top: 70px;
	width: 200px;
	height: 200px;
	box-shadow: 0px 10px 5px rgb(230,230,230);
	background-color: white;
}
#ketquasinhvien{
	 width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 413px;
    left: 400px;
    box-shadow:  0px 10px 5px rgb(230,230,230);
}
.img2 img{
    position: absolute;
    height: 100px;
    top: 40px;
    right: 0px;
}
.anhimg img{
	width: 470px;
    height: 314px;
    margin-left: 60%;
    margin-top: 22%;
}

@font-face{
    font-family: tuyendung;
    src: url(Quicksand_Light.otf);
    font-size: 34.38pt;
}
.tuyen_dung{
	font-family: tuyendung;
}
@font-face{
	font-family: phu_trach_sinh_vien_luong_cv;
	src:url(Quicksand_Bold.otf);
	font-size: 34.38pt;
}
.cv,.luong,.sinhvien,.phone,#ketquasinhvien,#input1,.sohocvien{
	font-family: phu_trach_sinh_vien_luong_cv;
}

@font-face{
	font-family: nhap_so_sinh_vien_o_duoi;
	src:url(Quicksand_Bold.otf);
	src: url(Quicksand_Light.otf);
}
.nhap{
	font-family: nhap_so_sinh_vien_o_duoi;
}
.muiten{
	width: 95px;
	height: 38px;
	position: absolute;
	top: 499px;
    left: 247px;
}
.anhphone{
	width: 93px;
	height: 93px;
	border-radius: 50%;
	position: absolute;
	bottom: 83px;
    right: -318px;
}
.sohocvien{
	position: absolute;
    bottom: 113px;
    left: 14px;
    font-size: 39px;
    color:  rgb(0,175,239);
}
