.ino {
    border-top: 1px solid;
    padding: 20px;
    border-top-width: 5px;  
    float:left;
    width: 32%;
    height: 700px;
    margin-left: 1.33%;
    margin-bottom: 15px;
    
}
 .ino span {
    color: blue;
}
#chat  {
      position: fixed;
      right: 30px;
      bottom: 30px;
}
#chat img {
    width: 40px;
    height: 30px;
    margin: 50px;
}