*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
// .nav{
//     width: 100%;
//     height: 80px;
//     border: 2px solid black;
//     .border{
//         width: 77px;
//         height: 77px;
//         border-radius: 50%;
//         border: 2px solid black;
//         float: right;
//         margin-right: 162px;
//     }
//     .maganer{
//         float: right;
//         margin-right: -182px;
//         margin-top: 26px;
//         font-size: 24px;
//     }
// }
// hết css cho nav
.student{
    text-align: center;
}
.iconstudent{
    font-size: 30px;
    word-spacing:-20px;
    margin-top: 10px;
}
.conten{
    border: 2px solid black;
    height: 500px;
    .conten1{
        padding-right: 35px;
        padding-left: 35px;
        margin-right: auto;
        margin-left: auto;
    }
}
.gv{
    margin-top: 30px;
    margin-left: 30px;
    .icon{
        margin-top: -10px;
    }
    .infomation{
        float: left;
    }
    .infomation2{
        margin-left: 40px;
        color: red;
        
    }
    .infomation3{
        margin-left: 400px;
    }
    .brick{
        width: 400px;
        height: 2px;
        background-color: black;
        margin-top: 50px;
        margin-left: -30px;
    }
}
.map{
    position: relative;
    .iconmap{
        font-size: 20px;
        word-spacing:-10px;
        margin-top: 30px;
    }
    .map2{
        position: absolute;
        top: 62px;
        left: 26px;
        font-size: 22px;
    }
}
.search{
  margin-top: 30px;
  float: right;  
  margin-right: 100px;
  .input{
      margin-left: 5px;
  }
}
.brick2{
    width: 400px;
    height: 2px;
    background-color: black;
    margin: auto;
    margin-top: 115px;
}
table, th, td {
    border: 1px solid black;
}
th{
    width: 140px;   
}
td, th {
    padding: 8px;
}
.container2{
    margin-top: 200px;
    width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 700px;
    margin-right: auto;
   .h1login{
      margin-left: 150px;
      
   }
    .login{
        .input1,.input2{
            display: block;
            margin-top: 30px;
            margin-left: 50px;
            width: 300px;
            height: 50px;
            border-radius: 10px;
        }
        .button{
            display: block;
            margin-top: 30px;
            margin-left: 50px;
            width: 300px;
            height: 50px;
            background-color: #4a77d4;
        }
        width: 400px;
        height: 300px;
        border: 2px solid black;
    }
}
