*{
	box-sizing: border-box;
}

body {
	margin-left:200px;
	padding: 0;
	
}
 #Email,#ten,#password,#đăngnhap,#nhaplaimatkhau {
	width: 425px;
	height: 40px;
	font-size: 20px;
}
input,label{
	margin: 20px;
}
.year{
	width: 124px;
	height: 30px;
	font-size: 20px;
	margin-left: 20px;
	border: none;
	background-color: pink;

}


.hang2 {
	border: 1px solid;
	width: 538px;
	background-color: #96852e;
	border-radius: 20px;
	 
    box-shadow: 10px 10px 5px #888888;
	
}


#ab{
	background-color: blue;
}
option{

}


