*{
	box-sizing: border-box;
}

img{
  width: 153px;
  height: 232px;
}
body{
	background-color: #2d3436;
	position: relative;
}

.wrap{
	position: relative;
	margin: auto;
	max-width: 1321px;
	max-height: 700px;
}
.content{
	position: relative;
	margin: auto;
	max-width: 1321px;
	max-height: 700px;
}
.grid{
	float: left;
	padding: 10px;
}
.card {
	position: relative;
}
.card .back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
}
.card img:hover {
	cursor: pointer;
	box-shadow: 0px 0px 12px 2px rgba(236, 229, 226, 0.75);
}


.card .font, .card .back {
	transition: all 0.5s;
	backface-visibility: hidden;
}

.flip .font, .flip .back{
	transition: all 0.5s;
}
.flip .font{
	transform: rotateY(180deg);
}
.flip .back {
	transform: rotateY(0deg);
}

.countdown {
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	top: 50px;
	right: 200px;
}

.modal-content {
	background:
	radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)),
	linear-gradient(108deg, #26D0CE, #1A2980 90%);
}

.modal-body {
	padding: 50px;
	padding-bottom: 100px;
}

#modal-body-input {
	display: block;
  margin: 2em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}

.submit {
	background-color: #93E1D8;
  border: none;
  display: block;
  padding: 15px 30px;
  border-radius: 10px;
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.modal {
	top: 50%;
	transform: translateY(-50%);
}


