

  /* css cho cart*/
  .glyphicon {
    position: relative;
    top: -10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}
.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
   