/*@media screen and (max-width: 600px) { 
    table#cart tbody td .form-control { 
    width:20%; 
    display: inline !important;
    } 
     
    .actions .btn { 
    width:36%; 
    margin:1.5em 0;
    } 
     
    .actions .btn-info { 
    float:left;
    } 
     
    .actions .btn-danger { 
    float:right;
    } 
     
    table#cart thead {
    display: none;
    } 
     
    table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width:320px;
    } 
     
    table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
    } 
     
    table#cart tbody td:before { 
    content: attr(data-th);
    font-weight: bold; 
    display: inline-block;
    width: 8rem;
    } 
     
    table#cart tfoot td {
    display:block;
    } 
    table#cart tfoot td .btn {
    display:block;
    }
    }
  .container{
    margin-top: 20px;
  }
  /*cs*/s cho thông số sản phẩm*/

  .thongso,.thongso2{
    border: 1px dotted  ;
  }
 
  /* hết css cho thông số sản phẩm*/


  /* css cho cart*/
  .glyphicon {
    position: relative;
    top: -10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}
.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }