.news{
	margin-top: 50px;
}
.news-involve{
	/*border: 1px solid;*/
}
.the-cach-duoi{
	margin-bottom: 30px;
}
.img-responsive{
	margin-bottom: 30px;
}
.thong-tin-shop{
	margin-bottom: 50px;
}
.thongtin{
	background-color: #d8d2d2
}
.shop{
	background-color: #e7f2ee;
}

