*{
	box-sizing: border-box;
}

img{
  width: 153px;
  height: 232px;
  
  
}
body{
	 
	background-image: url("../img/anhnen.jpg");
	background-position: center;
	background-repeat: repeat-y;
	background-size: 2000px 800px;

}
.wrap{
	position: relative;
	margin: auto;
	max-width: 1321px;
	max-height: 700px;   
}
.content{
	position: relative;
	margin: auto;
	max-width: 1321px;
	max-height: 700px;   	}
.grid{
	float: left;
	padding: 10px;
}
.card {
	position: relative;
}
.card .back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
}
.card img:hover {
	cursor: pointer;
	box-shadow: 0px 0px 12px 2px rgba(236, 229, 226, 0.75);
}


.card .font, .card .back {
	transition: all 0.5s;
	backface-visibility: hidden;
}

.flip .font, .flip .back{
	transition: all 0.5s;
}
.flip .font{
	transform: rotateY(180deg);
}
.flip .back {
	transform: rotateY(0deg);
}


