*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
   
	
}
.banner{
	background-color: #099264;
	width: 1500px;
	height: 80px;
	margin: auto;
	margin-top:5px;

}
input{
    width: 700px;
    height: 48px;
   
    position: relative;
    top: 0px;
    left: 36px;	
    border:solid;
   
   
}
i {
	line-height: 48px;
	position: absolute;
	top: 34px;

}
i:active{
	background-color: red;
}
.modal {
	margin-left: 30px;
}
.banner a{
	text-decoration: none;
}
.img{
 width: 60%;
 float: left;
}
.login{
 width: 40%;
 float: left;
 margin-top: 14px;

}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}


