/**{
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
body{
	background-color: #f88d40;
}
.text em{
  
}
.noidung{
	margin:auto;
    width: 1000px;
    height: 2000px;
    background-color: white;
}
.noidung2{
	margin:auto;
	width: 920px;
	position: relative;
}
.nav{
font-family: sans-serif;
  color: #333;
}
.nav nav ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}
.nav nav ul li{
	 color: #f1f1f1;
  float: left;
  width: 200px;
  height: 40px;
  line-height: 40px;
}


#text{
	position: absolute;
	top: 20px;
	right: 0px;
}
.banner img{
	width: 920px;
}
	



*/