* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: pink;
	border-radius: 15px;

}
#menu {
	width: 100%;
	margin: auto;
	text-align: -webkit-center;
	height: 100px;


}
#menu ul {
		padding: 0;
		margin: 0;
		width: 338px;
		background-color: #3a4ba5;
		text-align: center;
		width: 367px;
}
#menu ul li {
	list-style: none;
	position: relative;
	float: left;

}
#menu ul li a {
	text-decoration: none;
	color: white;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	display: block;
	text-indent: 10px;
}
#menu ul li ul {
	left: 0px;
	position: absolute;
	top: 18px;
	display: none;
	width: 235px;

}
#menu ul li:hover {
	background-color: red;
}
#menu ul li:hover ul {
	display: block;
}
#menu ul {
	margin-top: 15px;
	text-align: center;
}

.box img {
	width: 100%;
}



















