#chung {
	max-width: 1200px;
	margin:auto;
	

}
.anh  {
	border: 1px solid red;
	padding: 22px;
	float:left;
	margin: 10px;
	width: 30.3%;
	background-color: white;
	height: 300px;
	border-radius: 15px;
}

.anh img {
       width: 300px;
       height: 200px;
}
.amh img {
	width: 50%;
}
