
/*css cho slide*/
#myCarousel .nav a {
    border-radius:0px;
}
.slide01{
    margin-top: 20px;
}
.text01{
    margin-top: 30px;
}
.text02{
   text-indent: 30px;
    letter-spacing: 3px;
}
/*hết css cho slide*/

/*phần danh mục lọc sản phẩm*/
.filter-products{
    background-color: black;
     margin-top: 30px;
}
.trademark{
    color: white;

}
.filter-products02{
    margin-left: -13px;
   
}
.color{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  padding: 15px;
  text-align: center;
}
.btn-success {
    color: #fff;
    background-color: black;
    border:1px solid white ;
}
.btn-success:hover{
  background-color: #612b2b;

}
.products1{
    background-color: red;
}
.products2{
    background-color: orange;
}
.products3{
    background-color: green;
}
.products4{
  background-color: #33441f;
}
.products5{
  background-color: #131bda;
}
.salient-features{
  color: white;

}
.category-a{
  margin-left: -10px;
  display: block;
}
.category-a1{
  display: block;
}
.special-special{
  color:#56cfe1;
}
/* hết phần danh mục lọc sản phẩn*/

/*css út thêm vào giở hàng*/
.btn.active {                
  display: none;    
}

.btn span:nth-of-type(1)  {             
  display: none;
}
.btn span:last-child  {             
  display: block;   
}

.btn.active  span:nth-of-type(1)  {             
  display: block;   
}
.btn.active span:last-child  {              
  display: none;      
}
.btn-block {
    display: block;
    width: 100%;
    height: 57px;
    margin-top: 30px;
}
.btn-block+.btn-block {
    margin-top: 30px;
}
/*hết css cho thêm vào giở hàng*/

.font-login{
  border: 1px solid;
  margin-bottom: 30px;
}
.add-cart{
  margin-bottom: 30px;
}

