
a:link {
 	color: black;
 }
 a:visited { 
 	color: red;
   }
 a:hover {
 	color: blue;
  }
 a:active {
 	color: green;
 }

img {
	max-width: 50%
	max-height: 700px;
}

img:hover {
    border-radius: 50%; 
}
p{
	height: 0px;
}



