
.click-h1 .btn{
    display: block;
}
#img1,#img2,#img3{
    display: block;
    max-width: 100%;
    height: auto;
    width: 800px;
}
.anh1{
    transition: all 1s;   
    border-radius: 50%;
}
.anh1:hover{
 transform: scale(1.1);
 box-shadow: 5px 5px 5px 5px red;    
}
.box{
    margin-top: 30px;
    margin-left: 70px;
}
.h1{
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    font-family: arial;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    width: 100%;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;

}
/*css cho slide*/


#myCarousel .nav a {
    border-radius:0px;
}
.slide01{
    margin-top: 20px;
}
.text01{
    margin-top: 30px;
}
.text02{
   text-indent: 30px;
    letter-spacing: 3px;
}
/*hết css cho slide*/

/*phần danh mục lọc sản phẩm*/
.filter-products{
    background-color:#c4a651;
     margin-top: 30px;
}
.trademark{
    color: white;

}
.filter-products02{
    margin-left: -13px;
   
}
.color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  padding: 30px;
  text-align: center;
}
.products1{
    background-color: red;
}
.products2{
    background-color: orange;
}
.products3{
    background-color: green;
}
.products4{
  background-color: #33441f;
}
.products5{
  background-color: #131bda;
}
/* hết phần danh mục lọc sản phẩn*/


