body { 
	padding: 0;
	margin: 0;
 }
 * {
 	box-sizing: border-box;
 }
h1 {
	font-size: 40px;
	background-color: #c113a7;
	border: solid pink;
	border-radius: 20px;
}
.anh {
	width: 1000px;
	margin:auto;
	text-align: center;

}
#in {
	border: solid;

 
}
.thumb {
	float: left;
	border: 1px solid;
	border-top-width: 5px;
	width: 32.333%;
	margin: 5px;
	border-radius: 15%;
	background-color: #079b40;
	height: 300px;

}
.thumb img {
	vertical-align: middle;
	opacity: 1;
	transition: opacity 1s linear;
	
}
.thumb:hover img {
	opacity: 0.5;
}
