
@media screen and (min-width: 768px){
  .logoimg{
    width: 138px;
    position: absolute;
    top: -45px;
    right: -14px;
  }
  .col-lg-6 {
    width: 78%;
}
.content-header{
	
	top: 0;
	left: 30px;
}
}


@media screen and (max-width: 768px){
  
  .logoimg{
    position: absolute;
    top: -18px;
    left: 13px;
  }
 .container{
 	  
 }
 .content-header{
   	position: absolute;
    top: 0;
    left: 66px;
 }
  
}


@media (min-width: 1200px){
.col-lg-6 {
    width: 40%;
}
}
