@media screen and (min-width: 768px){
  
  .col-lg-6 {
    width: 78%;
}
.content-header{
	
	top: 0;
	left: 30px;
}
}


@media screen and (max-width: 768px){
  
  
 
 
 .content-header{
   	position: absolute;
    top: 0;
    left: 66px;
 }
  
}

