*{
	box-sizing: border-box;
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
  overflow-x:hidden;
   
	
}

 div .banner{
    background-image:  url("../img/bana1.jpg") ;
    /*linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5))*/ 
    height: 100vh;
    /*max-width: 100%;*/
    background-size: 100%; 
    background-repeat: no-repeat;
}
}


.tenmenu{
  margin-top: 30px;
  position: relative;

}
 .tenmenu img {
  float: right;
  margin-right: 60px;
}



.navbar {
  opacity: 0.5;
  
}
.navbar-nav li:hover{
   background-color: #ACFCD9;
}

.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 
  
}

#contact{
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color : #fff;  
  margin-top: 100px;
  opacity: 0;
  transform: translateX(-100%);  
 
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}


/*đây là phần style cho cái anh những sản phẩm tiêu biểu*/
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* hết phần css cho ảnh tiêu biểu*/
 

