*{
	box-sizing: border-box;
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
  overflow-x:hidden;
  position: relative;
}
.img-fly{
  position: absolute;
 
  z-index: 999999999;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid red;
  transition: all 1s ease;
}
 div .banner{
    background-image:  url("../img/bana1.jpg") ;
    /*linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5))*/ 
    height: 100vh;
    /*max-width: 100%;*/
    background-size: 100%; 
    background-repeat: no-repeat;
}
/* bắt đầu css cho menu */
.navbar {
 
  margin-bottom: 0px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  
}
.nav>li>a>img {
 
  width: 30px;
  margin-top: -8px;
}
.navbar-default {
  background-color: white;
}
 span img {
  vertical-align: middle;
  width: 150px;
}
.rowinput{
  margin-top: -48px;
  margin-right: 513px;
}

/* hết css cho menu  */


/*  dy la phan css cho dang nhap Email */
#contact{
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color : #fff;  
  margin-top: 100px;
  opacity: 0;
  transform: translateX(-100%);  
 
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 
}
/* het phan css  cho dăng nhập Email  */

/* css cho back_to_top */
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #c9afaf;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #e9ebec;
}
#back-to-top.show {
  opacity: 1;
}

/* hst css ho back-to-top */

/*  css cho footer */
.footer {
  background: #222222 none repeat scroll 0 0;
  border-top: 4px solid #fcab0e;
  margin: 0;
  padding: 20px 0;
}
.footer_dv {
  width: 100%;
}
.footer_dv h4 {
  color: #fcab0e;
  font-family: roboto;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer_dv ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer_dv ul li:first-child {
  border-top: medium none;
  box-shadow: none;
}
.footer_dv ul li {
  border-top: 1px solid #000;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  color: #f1f2f2;
  padding: 5px 0;
}
.footer_dv p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
  text-align: justify;
}
/* hết css cho foter */