
@media screen and (max-width: 750px){
  
  .logoimg{
    width: 138px;
    position: absolute;
    top: -14px;
    left: 0;
  }
}
@media screen and (max-width: 1000px){
  
  .logoimg{
    width: 138px;
    
  }
}

