a {
	color: red;
	font-size: 50px;
	background-color: #ff55ff;
	animation: titile 10s ease infinite;

	
}
.pass img {
	max-width: 100%;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 100px;
}

.pass2 img {
	border-radius: 20px;
	margin-top: 50px;
}
.data {
	width: 1000px;
	text-align: center;
	margin: auto;
	max-width: 100%;
}
@keyframes titile {
	0% {background-color: #d3133c; color: #1715bf;}
	10%{background-color: #0fe2db; color: #43661c;}
	20%{background-color: #440d43; color: #b6c1aa;}
	30%{background-color: #c6c117; color: #b6c1aa;}
	40%{background-color: #17c63a; color: #04f919;}
	50%{background-color: #1c231e; color: #04f919;}
	60%{background-color: #e8eced; color: #18281a;}
	70%{background-color: #9e9c37; color: #001c02;}
	80%{background-color: #495140; color: #001c02;}
	90%{background-color: #495140; color: #001c02;}
	100%{background-color: #495140; color: #85f28d;}
}
.sike {
	
	top: 628px;
	left:50px;
}

	




