*{
	box-sizing: border-box;
}

img{
  width: 250px;
  height: 400px;
  margin: -3px;
  
}
body{
	margin: 0;
	padding: 0;
	overflow-y: scroll; 
	background-image: url("../img/anhnen.jpg");
	background-position: center;
	background-repeat: repeat-y;
	 background-size: 2000px 800px;


}
.wrap{
	position: relative;
	margin: auto;
	padding: 15px;
	max-width: 1300px;
	max-height: 700px;
	height: 100%;
}
.content{
	position: relative;
	

}
.grid{
	float: left;
	padding: 10px;
}
.card {
	position: relative;
}
.card .back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
}
.card:hover .back {
	transform: rotateY(0deg);
}
.card:hover .font {
	transform: rotateY(180deg);
}

.card .font,.card .back {
	transition: all 1s;
	backface-visibility: hidden;
}

