.ibox  {
	padding: 15px;
	float: left ;
	width: 32.3%;
	border-top: 1px solid #dddddd;
	border-top-width: 5px;
	background-color: pink;
	border-radius: 15px;
	

}

.info  {
	border-color: green;
	margin: 5px;

}

.info span {
	color: green;
}

.contact {
	border-color: red;
	margin: 5px;

}
.contact span {
	color: red;
}

.company {
	border-color: blue;
	margin: 5px;

}
.company span {
	color: blue;
	

}
 body {
 	background-color: #E5E5E5;
 	margin: 0;
 	padding: 0%;
 }


#in-chich {
	display: block;


}
#in-chich a {
	font-size: 20px;
	color: green;
	text-decoration: none;
}

#in-chich a:hover {
	color: black;
}
#in-chich a.active {
	color: black;
}

#in-chich a.active {
	font-weight: bold;
	margin: 30px;
 }
 
 
 



